/* Your Website Styles */


.logo {
	width: 30%;
	height: 30%;
}

body {
	background: #7C7159;
	font-family: 'Arimo', sans-serif;
}

h2 {
font-family: 'Arimo', sans-serif;
	text-align: left;
	color: #7C7159;
	background: url('../img/arches.png');
	margin: 0 0 5px 0;
	padding: 5px;
}

h3 {
font-family: 'Arimo', sans-serif;
color:#77A490;
margin: 0 0 5px 0;
}


h2 + div  p {
font-family: 'Arimo', sans-serif;
	text-align: left;
	margin: 0 0 5px 0;
}

h3 + div p {
	font-family: 'Arimo', sans-serif;
	text-align: left;
	margin: 0 0 5px 0;
}

.para {
	font-family: 'Arimo', sans-serif;
	margin: 0 0 5px 0;
}

a:link,
a:visited {
font-family: 'Arimo', sans-serif;
  color: #086B63;
  text-decoration: none;
    transition: .25s ease-in-out;
}

a:hover {
  color: #77A490;
  text-decoration: none;
  transition: .25s ease-in-out;
}







/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}